<div class="schedule-section">
  <div class="schedule-section__bar">
    {{ name }}
  </div>
  <div>
    <div
      class="schedule-section__item food"
      *ngIf="events !== null; else addMeal"
      (click)="onSelect('services', section.workouts)">
      <span>{{ events  | join : 'appointment' : selected }}</span>
    </div>
    <ng-template #addMeal>
      <div
        class="schedule-section__item"
        (click)="onSelect('services')">
        Programar Servicio.
      </div>
    </ng-template>
    <div
      class="schedule-section__item workout"
      *ngIf="events !== null; else addWorkout"
      (click)="onSelect('workouts', section.workouts)">
      <span>{{ events  | join : 'training' : selected }}</span>
    </div>
    <ng-template #addWorkout>
      <div
        class="schedule-section__item"
        (click)="onSelect('workouts')">
        Programar Entrenamiento
      </div>
    </ng-template>
  </div>
</div>
