@import 'utils/functions';

.app-header {
  background: #fff;
  border-bottom: 1px solid #c1cedb;
  padding: 15px 0;
  text-align: center;
  img {
    display: inline-block;
  }
  &__user-info {
    position: absolute;
    top: 16px;
    right: 0;
    cursor: pointer;
  }
  span {
    background: svg(logout) no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: block;
    &:hover {
      box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.2);
    }
  }
}

.wrapper {
  max-width: 800px;
  width: 96%;
  margin: 0 auto;
  position: relative;
}
